<div id="payment-div">
  <h5>ALL PAYMENT METHODS</h5>
  <ul>
    <li>Visa, MasterCard or American Express (Stripe)</li>
    <li>Klarna (for Swedish customers only)</li>
    <li>PayPal</li>
  </ul>
  <P> We currently accept only VISA, MasterCard and American Express. When you pay with a debit card, the transaction is processed by our payment partner, Stripe, to ensure fast and secure payment.</P>
  <br />
  <h5> HAS MY ORDER BEEN PROCESSED?</h5>
  <p>
    You will receive an order confirmation at the email address you provided almost immediately after your purchase has been approved.
  </p>
  <br />
  <h5>THE PURCHASE DID NOT GO THROUGH, BUT HAS IT MADE A RESERVATION ANYWAY?</h5>
  <p>If you have not received your order within (3-5 working days Sweden) or (5-10 working days (Mon-Fri) for the rest of the world) , you will receive a notice regarding the delay. It may be that one item had to be back-ordered or that we are experiencing slight delays due to a high workload at Nala.se. If you have not yet received your order within 10 working days (Mon-Fri) after receiving a delivery update from us, kindly contact our customer service team.</p>
  <br />
  <h5>WHEN WILL I RECEIVE REIMBURSEMENT FOR MY RETURN?</h5>
  <p>When you return something to us the refund is based on the payment method you chose for the original order. If you choose to pay with credit/debit card, the refund will be placed onto the same card. This money will usually be received within 2-3 banking days, but can take up to 6 bank days until it is available on your account.</p>
</div>
