<div id="delivery-div">
  <h5>STANDARD DELIVERY</h5>
  <ul>
    <li>
      <p>Free shipping to customers in Sweden (Delivery 2-4 working days, Mon-Fri)</p>
      <p>Free shipping for all remaining international orders (Delivery 5-10 working days, Mon-Fri)</p>
    </li>
  </ul>
  <br/>
  <h5>WHERE IS MY ORDER?</h5>
  <p>Delivery time is 5-10 working days (Mon-Fri) from the day you receive handler confirmation. If you have not received your order within this time, you will receive a notice regarding the delay. If you have not received your order within 10 working days (Mon-Fri) after receiving a delivery update from us, we ask you to contact our customer service team so we can check what has happened.</p>
  <br/>
  <h5>MISSING YOUR ORDER CONFIRMATION?</h5>
  <p>If you have not received your order confirmation shortly after you placed your order, it could mean that something has gone wrong with your purchase, contact customer service team here.</p>
</div>
