@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
#logo-image {
  margin: 50px;
  width: 700px;
  border-bottom: 20px solid;
  border-color: rgb(255,165,0);
  /* Align image center */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#menu-information-container li {
  list-style-type: none;
}
#main-footer {
  margin: 50px;
  border-top: 20px solid;
  border-color: rgb(255,165,0);
}
.col-sm-2 li {
  list-style-type: none;
}
footer h3 {
  color: rgba(213, 183, 114, 1);
}
#div-navbar1 a, #label-currency {
  font-size: 11px;
  font-weight: bold;
  color: rgba(213, 183, 114, 1);
}
#navbar2 ul {
  display: inline-block;
}
#currency-select option {
  color: rgba(213, 183, 114, 1);
}
#navbar-upp {
  padding: 2px;
}
#div-navbar1 {
  margin-left: inherit;
}
#div-navbar2 a {
  color: rgba(213, 183, 114, 1);
  font-weight: bold;
}
#about, #returns, #size-guide, #shiping-delivery, #instagram, #facebook, #snapchat, #faq-div a {
  color: rgba(213, 183, 114, 1);
}
