<div id="app-main-div">
  <div>
    <div>
      <app-nav>Loading main nav...</app-nav>
    </div>
    <img id="logo-image" alt="Nala's Logo" src="./images/nala-logo.png">
    <nav id="navbar2" class="navbar navbar-expand-lg navbar-light bg-light">
      <div id="div-navbar2" class='container'>
        <ul class="nav navbar-nav">
          <li class='nav-item'>
            <a class='nav-link' routerLink="/home">SHOP</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' routerLink="/lookbok">LOOKBOK</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' routerLink="/contact">CONTACT</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' routerLink="/cart"><img id="cart" src="./images/cart2.jpg"></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="inner-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div>
    <app-footer>Loading footer...</app-footer>
  </div>
  <div id="copyright">
    <p>Copyright © 2018 NALA</p>
  </div>
</div>
