@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
#logo-image {
  margin: 50px;
  width: 700px;
  border-bottom: 20px solid;
  border-color: rgb(255,165,0);
  /* Align image center */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#navbar2 ul {
  display: inline-block;
}
#div-navbar2 a {
  color: #9a9a9a;
  font-weight: bold;
  font-size: 15px;
}
#cart {
  width: 23px;
  height: 23px;
}
#div-navbar2 {
  margin-right: inherit;
}
#copyright {
  padding-bottom: 20px;
}
#copyright p {
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
}
.container {
  padding-right: 0;
}
