<div>
  <h4>MY ORDER</h4>
  <P> When you become a member with us, you get access to My Pages. There, you will find information on all your orders; when you ordered, what products you ordered, what it cost, and what payment method you used. Need to change your address, phone number or other information? You can do this also in My Pages!</P>
  <h4> IS MY ORDER SHIPPED</h4>
  <p>As soon as we process your order, we will send you an email to inform you that your order has been shipped.</p>
  <h4>WHERE IS MY ORDER?</h4>
  <p>If you have not received your order within (3-5 working days Sweden) or (5-10 working days (Mon-Fri) for the rest of the world) , you will receive a notice regarding the delay. It may be that one item had to be back-ordered or that we are experiencing slight delays due to a high workload at Nala.se. If you have not yet received your order within 10 working days (Mon-Fri) after receiving a delivery update from us, kindly contact our customer service team.</p>
</div>
