<div>
  <section id="contact">
    <div class="section-content">
      <h1 class="section-header">Contact  <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> us</span></h1>
      <p>
        Have you got something you’d like some assistance with? Or maybe you’d like to give us some feedback?

        Get in touch with us by filling out the form below and we’ll get back to you as soon as possible!

        We also suggest checking out our FAQ’s page prior to sending your enquiry.
      </p>
    </div>
    <div class="contact-section">
      <div class="container">
        <form>
          <div class="col-md-6 form-line">
            <div class="form-group">
              <label for="exampleInputUsername">Your name</label>
              <input type="text" class="form-control" id="" placeholder=" Enter name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Email Address</label>
              <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email">
            </div>
            <div class="form-group">
              <label for="telephone">Mobile No.</label>
              <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
            </div>
            <div class="form-group">
              <label for="exampleInputUsername">Order No.</label>
              <input type="tel" class="form-control" id="ordernr" placeholder=" Enter order nr.">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="description"> Message</label>
              <textarea class="form-control" id="description" placeholder="Enter Your Message"></textarea>
            </div>
            <div>
              <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
            </div>

          </div>
        </form>
      </div>
      </div>
  </section>
</div>
