#account-div {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;
  width: 275px;
}

.navbar-inverse {
  background-color: #eaeaea;
  display: table;
}

#left-div {
  width: 20%;
  border: none;
}

#router-div {
  margin-left: 50px;
  margin-bottom: 50px;
  float: right;
  width: 70%;
}

li:hover a {
  color: rgb(255,165,0);
}

a:active {
  color: rgb(255,165,0);
}

a {
  font-weight: bold;
  margin-left: 20px;
}

li {
  border-bottom: groove;
}
