#account-div {
  margin-top: 50px;
  margin-left: 200px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;
  width: 139px;
}

.navbar-inverse {
  background-color: antiquewhite;
  border-color: #080808;
  display: table;
}

#left-div {
  width: 18%;
}

#router-div {
  margin-left: 50px;
  margin-bottom: 50px;
  float: right;
  width: 50%;
}

li:hover a {
  color: rgb(255,165,0);
}

a:active {
  color: rgb(255,165,0);
}

a {
  font-weight: bold;
}
