<div>
  <div id="div-sorting">
    <select class="form-control" id="sorting">
      <option selected>Default Sorting</option>
      <option value="1">Sort by popurarity</option>
      <option value="2">Sort by average rating</option>
      <option value="3">sort by newness</option>
      <option value="4">sort by price low to hight</option>
      <option value="5">sort by price higth to low</option>
    </select>
  </div>
  <img id="nala93-img" src="./images/Nala-93-av-132-1100x1650.jpg">
  <img id="nala82-img" src="./images/Nala-82-av-132-750x1125.jpg">
  <img id="nala58-img" src="./images/Nala-58-av-132-750x1125.jpg">
  <img id="nala17-img" src="./images/Nala-17-av-132-750x1125.jpg">
  <img id="nala74-img" src="./images/Nala-74-av-132-750x1125.jpg">
  <img id="nala11-img" src="./images/Nala-11-av-132-750x1125.jpg">
  <img id="nala1-img" src="./images/Nala-1-av-132-750x1125.jpg">
  <img id="nala41-img" src="./images/Nala-41-av-132-750x1125.jpg">
  <img id="nala28-img" src="./images/Nala-28-av-132-750x1125.jpg">
  <img id="nala106-img" src="./images/Nala-106-av-132-750x1125.jpg">
  <img id="nala31-img" src="./images/Nala-31-av-132-750x1125.jpg">
  <img id="nala61-img" src="./images/Nala-61-av-132-750x1125.jpg">

 
    <div>1</div>
    <div>{{product.Name}}</div>
    <div>{{product.Price}}</div>
    <img id="nala89-img" src="{{product.ImagePath}}">
 
</div>
