<div>
  <div id="div-sorting">
    <select class="form-control" id="sorting">
      <option selected>Default Sorting</option>
      <option value="1">Sort by popurarity</option>
      <option value="2">Sort by average rating</option>
      <option value="3">sort by newness</option>
      <option value="4">sort by price low to hight</option>
      <option value="5">sort by price higth to low</option>
    </select>
  </div>
  <div *ngFor="let product of products" class="col-md-4">
    <div>{{product.name}}</div>
    <div>{{product.description}}</div>
    <div>{{product.price}}</div>
    <div>{{product.category.name}}</div>
    <div>{{product.size.name}}</div>
    <div>{{product.stock}}</div>
    <img src="{{product.imagePath}}">
  </div>
</div>
