<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#034</td>
        <td>November 14, 2017</td>
        <td>Completed</td>
        <td>kr.700 from 1 item</td>
        <td><button id="view" class="btn btn-primary">View</button></td>
      </tr>
    </tbody>
  </table>
</div>
