<footer id="main-footer">
  <div id="container-menu-footer" class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>Information</h3>
        <p><a id="about" class='nav-link' routerLink="/about">About us</a></p>
      </div>
      <div class="col-sm-3">
        <h3>Customer Care</h3>
        <p><a id="returns" class='nav-link' routerLink="/returns">Returns</a></p>
        <p><a id="size-guide" class='nav-link' routerLink="/size-guide">Size Guide</a></p>
      </div>
      <div id="faq-div" class="col-sm-3">
        <h3>Quick Links</h3>
        <p><a id="faq-a" class='nav-link' routerLink="/order">FAQ</a></p>
        <p><a id="terms-a" class='nav-link' routerLink="/terms-conditions">Terms & Conditions</a></p>
        <p><a id="contact-a" class='nav-link' routerLink="/contact">Contact us</a></p>
      </div>
    </div>
  </div>
</footer>
<div id="links-div">
  <a href="https://www.facebook.com/nalase-866007096832699/"> <img id="facebook-img" src="./images/facebook2.png"></a>
  <a href="https://www.instagram.com/nala.se/"> <img id="instagram-img" src="./images/instagram.jpg"></a>
  <a href="https://www.instagram.com/nala.se/"> <img id="snapchat-img" src="./images/snapchat.png"></a>
</div>
