#about-title, #about-p, h4 {
  text-align: center;
}

h1 {
  color: #927c46;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  margin: 70px;
}

#to {
  color: rgb(255,165,0);
  font-style: italic;
}

h4, p {
  color: #927c46;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#column-div {
  margin: 80px;
}
