<div id="main-about-div">
  <h1 id="about-title">WELCOME <span id="to">to</span> NALA</h1>
  <p id="about-p">WHEN WE CREATED NALA WE WANTED TO MAKE A BRAND THAT FIT IN WITH THE TOP FASHION DESIGNERS AND THEN MAKE IT AFFORDABLE FOR ALL OF OUR BEAUTIFUL FASHIONISTAS OUT THERE. WE HOPE YOU LOVE IT AS MUCH AS WE DO XX</p>
  <div id="column-div" class="row">
    <div class="column">
      <h4>FITTING</h4>
      <p>The most important aspect of clothing is certainly how it fits the body. All our styles are form fitted to make your figure flattering.</p>
    </div>
    <div class="column">
      <h4>INVISIBLE ZIPPER</h4>
      <p>Invisible zippers are one of the nicest looking zippers because they are (as the name implies) invisible. We love to use this zipper in the garments we make. It’s beautiful and it’s easy!</p>
    </div>
    <div class="column">
      <h4>DETAILS</h4>
      <p>There are many factors and features that need to be thought out when it comes to clothing. We always try to put a small detail on everything we make to make it stand out.</p>
    </div>
  </div>
</div>
