#account-div {
  margin: 50px;
}
.navbar-fixed-left {
   width: 200px;
 }

.navbar-fixed-left .navbar-nav > li {
  float: none;
  width: 139px;
}
.navbar-inverse {
  background-color: white;
  border-color: #080808;
}
a {
  color: red;
}
