<body>
  <div class="container">
    <table id="guide-size-table" class="table">
      <thead>
        <tr>
          <th>SIZE EU</th>
          <th>XS</th>
          <th>S</th>
          <th>M</th>
          <th>L</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>BUST</td>
          <td>80</td>
          <td>88</td>
          <td>96</td>
          <td>104</td>
        </tr>
        <tr>
          <td>WAIST</td>
          <td>64</td>
          <td>72</td>
          <td>80</td>
          <td>88</td>
        </tr>
        <tr>
          <td>SEAT/LOW HIP</td>
          <td>88</td>
          <td>96</td>
          <td>104</td>
          <td>112</td>
        </tr>
        <tr>
          <td>INNER LEG</td>
          <td>79</td>
          <td>79</td>
          <td>79</td>
          <td>79</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <table id="guide-size-table" class="table">
      <thead>
        <tr>
          <th>SIZE US</th>
          <th>XS</th>
          <th>S</th>
          <th>M</th>
          <th>L</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>BUST</td>
          <td>31 1/2</td>
          <td>34</td>
          <td>37</td>
          <td>42</td>
        </tr>
        <tr>
          <td>WAIST</td>
          <td>25</td>
          <td>28</td>
          <td>31</td>
          <td>37</td>
        </tr>
        <tr>
          <td>SEAT/LOW HIP</td>
          <td>34</td>
          <td>37</td>
          <td>41</td>
          <td>44</td>
        </tr>
        <tr>
          <td>INNER LEG</td>
          <td>31</td>
          <td>31</td>
          <td>31</td>
          <td>33</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
