<div id="main-checkout">
  <div id="coupon-div">
    <p id="have-a-coupon">Have a coupon?&ensp;<a href="checkout" ng-click="showme=true">Click here to enter your code</a></p>
  </div>
  <div ng-show="showme" class="container">
    <form>
      <div class="form-group">

      </div>
    </form>
    <!-->p ng-hide="showme">It will appear here!</p-->
    <input type="text" class="form-control" placeholder="coupon Code">
    <input type="text" class="form-control" placeholder="XXXX-XX-XX">
    <button type="button" class="btn btn-primary">Fetch</button>
    <input placeholder="YYMMDD-XXXX" />
  </div>
  <div class="container">
    <form>
      <h4>BILLING DETAILS</h4>
      <div class="form-group">
        <input type="text" class="form-control" id="first-name" placeholder="First name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="last-name" placeholder="Last name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="company-name" placeholder="Company name">
      </div>
      <div class="form-group">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Country</option>
          <option value="1">Swaziland</option>
          <option value="2">Sweden</option>
          <option value="3">Switzerland</option>
          <option value="4">Syria</option>
          <option value="5">Taiwan</option>
          <option value="6">Tajikistan</option>
          <option value="7">Tanzania</option>
          <option value="4">Thailand</option>
        </select>
      </div>
      <div class="form-group">
        <div class="form-group">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Post nummer??">
        </div>
      </div>
      <div class="container">
        <h4>YOUR ORDER</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alix Shirt - XS 	× 1</td>
              <td>kr649.00</td>
            </tr>
            <tr>
              <td>Subtotal</td>
              <td>kr649.00</td>
            </tr>
            <tr>
              <td>Shipping</td>
              <td>Free shipping</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>kr649.00 (includes kr129.80 VAT)</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="pay-div">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Klarna Invoice <img id="klarna-img" src="../images/klarna2.png" />
          </label>
          <p>Vilkor for faktura</p>
          <p>Payment plan*</p>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Klarna Part Payments <img id="klarna-img" src="../images/klarna2.png" />
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
          <label class="form-check-label" for="exampleRadios3">
            Credit Card (Stripe) <img id="klarna-card-img" src="../images/visa.png" />
            <img id="mastercard-img" src="../images/mastercard.png" />
            <img id="amex-card-img" src="../images/amex.jpg" />
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
          <label class="form-check-label" for="exampleRadios3">
            PayPal
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            I’ve read and accept the terms & conditions *
          </label>
        </div>
        <button id="place-holder-btn" type="button" class="btn btn-warning">PLACE ORDER</button>
      </div>
    </form>
  </div>
</div>
