<div>
  <h4>MY ADRESSES</h4>
  <p>
    To following addresses will be used on the checkout page by default.
  </p>
  <div class="row">
    <div id="billing-div" class="column">
      <h4>BILLING ADDRESS</h4>
      <button id="edit1" class="btn btn-primary">EDIT</button>
      <p>name</p>
      <p>adress</p>
    </div>
    <div id="shipping-div" class="column">
      <h4>SHIPPING ADDRESS</h4>
      <button id="edit2" class="btn btn-primary">EDIT</button>
      <p>name</p>
      <p>Adress</p>
    </div>
  </div>
</div>
