<div>
  <h4>MY RETURN</h4>
  <p>
    Was the product different than you expected or do you need to change the size? Here you will find information on how to proceed when you have sent back your order or wish to make an exchange. Keep in mind you have 14 days to decide if you want to return your product(s), beginning from the time you receive your package. Remember it is you, the customer, who is responsible for the return until we have received and registered it, so always save your order confirmation. It can sometimes take up to 14 days for a return to come to us and be processed at our store.
  </p>
  <h4>HAVE YOU RECEIVED MY RETURN?</h4>
  <p>
    You will receive a return confirmation via email as soon as we have received your return. It may take up to 14 days for a return to be received and processed.
  </p>
  <h4>CAN I RETURN ITEMS FROM DIFFERENT ORDERS IN THE SAME PARCEL?</h4>
  <p>
    Of course you may put items from different orders in the same return parcel. Just be sure to put a note with the order number for each order in the package, otherwise we cannot register your returns.
  </p>
  <h4>CAN I RETURN SALE ITEMS?</h4>
  <p>Absolutely! You have the same return rights for all items you order from us.</p>
  <h4>HOW DO I RETURN AN ITEM?</h4>
  <p>
    Please note, we do not offer free returns. You will need to cover this postage cost and we do advise you send your return using a tracked service. NALA will not accept responsibility for any parcels not received if sent un-tracked. Please retain your proof of postage. Please include your returns with your name and order number in the parcel. Please place the returns address label provided on the parcel.
  </p>
</div>
