@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

#div-sorting {
  width: 210px;
  padding-bottom: 20px;
}

img {
  width: 500px;
  margin-top: 20px;
  margin-right: 50px;
}

#sorting option {
  color: #9a9a9a;
}

/* #sorting option:first-child { /*??
  color: rgba(213, 183, 114, 1);
  font-weight: bold;
}*/

#name {
  font-weight: bold;
}

/*.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}*/
