<div class="container">
  <div>
    <div id="div-sorting">
      <select class="form-control" id="sorting">
        <option selected>Default Sorting</option>
        <option value="1">Sort by popurarity</option>
        <option value="2">Sort by average rating</option>
        <option value="3">sort by newness</option>
        <option value="4">sort by price low to hight</option>
        <option value="5">sort by price higth to low</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div id="div-img" *ngFor="let product of products" class="split">
      <div class="column">
        <img src="{{product.imagePath}}">
        <p id="name">{{product.name}}</p>
        <p>{{product.description}}</p>
        <p id="price">{{product.price}} kr</p>
        <p>Category: {{product.category.name}}</p>
        <p>Size: {{product.size.name}}</p>
        <p>Stock: {{product.stock}}</p>
      </div>
    </div>
  </div>
</div>




